.about-page {
    position: relative; /* Allows positioned child elements to position themselves relative to this element*/
    width: 100%;
    height: 2475px;
    overflow: hidden;
    margin-top: 60px;
}

.background2-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 80%;
    height: 550px;
    object-fit: cover; /* Makes sure image fills the container */
    z-index: 0;

    /* Fade out the bottom using a transparent gradient */
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.background2-image-box {
    position: relative;
    padding-left: 10%;
    z-index: 1;
    width: 100%;
    height: 400px;
    display: flex; /* Center content */
    align-items: center;
    color: rgb(190, 191, 191, 1);
    font-family: 'Puritan', sans-serif;
}

.text-overlay {
  display: flex;
  justify-content: center;   /* center both items horizontally */
  align-items: center;       /* center vertically */
  gap: 60px;                 /* space between the two */
  width: 100%;
  height: 100%;
}

.lexy-image {
  width: 260px;
  height: 350px;
  border-radius: 120px;
  border: 5px solid black;
  object-fit: cover;
  margin-top: 80px;
  max-width: 100%;

    /* Prevent shrinking in flex containers */
  flex-shrink: 0;
}

.greetings-box {
  text-align: left;
  transform: translateX(-125px);
}

.hello-there {
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(174, 174, 174);
    font-weight: bolder;
    text-align: left;
}

.lexy-gregory {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight:bold;
    text-align: left;
    color: rgb(174, 174, 174);
}

.comp-sci{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
}

.interest-details-container{
    opacity: 70%;
    height: 440px;
    width: 85%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 150px auto 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
}

.interest-header, 
.languages-header,
.hobbies-header{
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 7px;
    color: rgb(238, 238, 238);
}

.interest-header, 
.hobbies-header{
    font-weight: 100;
}

.languages-header{
    font-weight: bold;
    padding-bottom: 40px;
}

.interest-details{
    width: 80%;
}

.interest-text-box, 
.hobbies-details, 
.interest-details{
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(231, 231, 231);
    font-weight: 100;
    text-align: left;
}

.interest-keywords{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.interest-text-box{
    background: linear-gradient(to right, #013039, #014d5c);
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
}

.language-image-background{
    position: absolute;
    top: 1040px;
    opacity: 80%;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover; /* Makes sure image fills the container */
    z-index: 0;

    /* Fade out the bottom using a transparent gradient */
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.languages-container{
    opacity: 70%;
    height: 500px;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 20px; /* spacing between items */
  width: 100%;
  justify-items: center;
}

.language {
  background-color: black;
  color: white;
  width: 100%;       /* fill grid cell */
  max-width: 200px;  /* keep items from growing too large */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.language-image{
    width: 80px;
    padding: 15px;
    border-radius: 50%;
    height: auto;
    object-fit: cover;
    background-color: rgb(223, 223, 223);
}

.language-title{
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: "Braah One", sans-serif;
}

.hobbies-container{
    opacity: 70%;
    height: 300px;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px auto 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 30px;
    perspective: 1000px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-img {
    flex: 0 0 auto;
    width: 250px;
    height: auto;
    border-radius: 12px;
    scroll-snap-align: center;
    transition: transform 0.4s, opacity 0.4s;
    transform-origin: center;
    object-fit: cover;
    opacity: 0.6;
    transform: scale(0.8) rotateY(0deg);
}

.carousel-img.center {
    transform: scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 10;
}

.carousel-img.left, .carousel-img.right {
    transform: scale(0.9) rotateY(30deg);
    opacity: 0.6;
    z-index: 3;
}

.carousel-img.left {
    transform: scale(0.9) rotateY(30deg) translateX(-20px);
}

.carousel-img.right {
  transform: scale(0.9) rotateY(-30deg) translateX(20px);
}


@media (max-width: 1000px){
    .about-page {
       height: 2215px; 
    }

    .background2-image-box {
        padding-left: 20%;
        padding-right: 10%;
        height: 400px;
    }

    .background2-image{
        height: 500px;
    }

    .text-overlay{
        gap: 0;  
    }
    .hello-there{
        font-size: 30px;
    }
    .lexy-gregory {
        font-size: 40px;
        white-space: nowrap;     /* keep phone number on one line */
        min-width: 150px;        /* prevent it from shrinking too much */
        flex-shrink: 0;  
    }
    .comp-sci{
        font-size: 25px;
        white-space: nowrap;     /* keep phone number on one line */
        min-width: 150px;        /* prevent it from shrinking too much */
        flex-shrink: 0;  
    }
    .lexy-image {
        width: 240px;
        height: 310px;
        min-width: 240px;
    }

    .interest-details-container{
        height: 420px;
    }
    .interest-text-box{
        text-align: center;
        font-size: 17px;
    }

    .interest-details, 
    .hobbies-details{
        font-size: 17px;
    }

    .language-image-background{
        top: 1045px;
    }

    .hobbies-container{
        height: 220px;
    }

    .carousel {
        gap: 14px;
    }

    .carousel-img {
        width: 210px;
    }

    .carousel-img.left {
        transform: scale(0.9) rotateY(30deg) translateX(-13px);
    }

    .carousel-img.right {
        transform: scale(0.9) rotateY(-30deg) translateX(13px);
    }
}

@media (max-width: 850px){
    .greetings-box {
        transform: translateX(-60px);
    }

    .interest-details-container{
        height: 450px;
    }

    .interest-keywords{
        gap: 22px;
    }

    .interest-text-box{
        padding: 13px;
        font-size: 16px;
        border-radius: 50px;
    }

    .hobbies-container{
        height: 240px;
    }

    .carousel {
        gap: 12px;
    }

    .carousel-img {
        width: 190px;
    }

    .carousel-img.left {
        transform: scale(0.9) rotateY(30deg) translateX(-13px);
    }

    .carousel-img.right {
        transform: scale(0.9) rotateY(-30deg) translateX(13px);
    }
}

@media (max-width: 700px){
    .about-page {
       height: 2155px; 
    }
    .background2-image{
        height: 460px;
    }

    .background2-image-box {
        height: 360px;
        padding-left: 20%;
        padding-right: 10%;
    }

    .greetings-box {
        transform: translateX(-70px);
    }

    .hello-there{
        font-size: 25px;
    }
    .lexy-gregory {
        font-size: 30px;
        white-space: nowrap;   
        min-width: 150px;        /* prevent it from shrinking too much */
        flex-shrink: 0;  
    }
    .comp-sci{
        font-size: 18px;
        white-space: nowrap;     /* keep phone number on one line */
        min-width: 150px;        /* prevent it from shrinking too much */
        flex-shrink: 0;  
    }

    .lexy-image {
        width: 160px;
        min-width: 160px;
        height: 240px;
    }

    .interest-details-container{
        height: 480px;
    }

    .interest-keywords{
        gap: 15px;
    }

    .interest-text-box{
        padding: 10px;
        font-size: 14px;
        border-radius: 50px;
    }

    .interest-details, 
    .hobbies-details{
        font-size: 15px;
    }

    .languages-container{
        height: 450px;
    }

    .language-image-background{
        top: 1020px;
        height: 500px;
    }

    .languages {
        gap: 25px;
    }

    .language-image{
        width: 65px;
        padding: 10px;
    }

    .hobbies-container{
        margin: 20px auto 0 auto;
    }

    .carousel {
        gap: 12px;
    }

    .carousel-img {
        width: 170px;
    }

    .carousel-img.left {
        transform: scale(0.9) rotateY(30deg) translateX(-13px);
    }

    .carousel-img.right {
        transform: scale(0.9) rotateY(-30deg) translateX(13px);
    }
}

@media (max-width: 600px){
    .greetings-box {
        transform: translateX(-40px);
    }

    .hobbies-container{
        height: 260px;
    }

}